*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  'poppins',sans-serif;
}
 body{
    background-color: #000000;
    color: #ffffff;
}
html {
    font-size: 62.5%;
}
#logo-image img{
    width: 165px;
}
#navbar-list {
    list-style-type: none;
    font-size: 1.6rem;
}
#franchise-btn{
    border: 1px solid #ffffff;
    border-radius: 25px;
    padding: 20px 22px;
    background-color: transparent;
    color: #ffffff;
}
#order-btn{
    border-radius: 25px;
    padding: 13px 20px;
    background-color: #ff0000;
    color: #ffffff;
    border: 2px solid #ff0000;
}
#arrow-font{
    background-color:#ffffff;
    color: #ff0000;
    border-radius: 30px;
    border: 5px solid #ffffff;
    padding: 2px;
}   
.slider {
    width: 1900px;
    height: 650px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 7600px;
    background-color: pink;
    height: 650px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -1900px;
  }
  #slide-3:target ~ .image-container {
    left: -3800px;
  }
  #slide-4:target ~ .image-container {
    left: -5700px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 5px;
    width: 30px;
    border-radius: 10px;
    background-color: white;
  }
  #middle-images img{
    background-color: #ffffff;
  }
.btn-1{
    text-decoration: none;
  }
  .logo-text-hold{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
  }
  #middle-images button{
    display: block;
    border-radius: 25px;
    border: 1px solid white;
    padding: 15px;
    width: 160px;
    background-color: transparent;
    color: #ffffff;
  }
  #middle-images a{
    color: #ffffff;
  }